@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: hsla(223, 16%, 90%, 1);
    --neutral-950: hsla(222, 31.7%, 8%, 1);
    --neutral-900: hsla(226, 21.3%, 12%, 1);
    --neutral-800: hsla(227, 17.1%, 16.1%, 1);
    --neutral-700: hsla(221, 15.7%, 20%, 1);
    --neutral-600: hsla(222, 10.9%, 36.1%, 1);
    --neutral-500: hsla(221, 7.8%, 48%, 1);
    --neutral-400: hsla(220, 11.5%, 64.1%, 1);
    --neutral-300: hsla(219, 15.2%, 82%, 1);
    --neutral-200: hsla(220, 17.6%, 90%, 1);
    --neutral-100: hsla(210, 30%, 96.1%, 1);
    --neutral-50: hsla(216, 33.3%, 97.1%, 1);
    --neutral-0: hsla(0, 0%, 100%, 1);
    --neutral-aplha-24: hsla(220, 11%, 64% ,24%);
    --neutral-aplha-16: hsla(220, 11%, 64% ,16%);
    --neutral-aplha-10: hsla(220, 11%, 64% ,10%);
    --blue-950: hsla(228, 70.5%, 23.9%, 1);
    --blue-900: hsla(228, 70.6%, 32%, 1);
    --blue-800: hsla(228, 69.6%, 40%, 1);
    --blue-700: hsla(228, 69.8%, 48%, 1);
    --blue-600: hsla(228, 80.4%, 56.1%, 1);
    --blue-500: hsla(228, 100%, 60%, 1);
    --blue-400: hsla(222, 100%, 70.4%, 1);
    --blue-300: hsla(220, 100%, 79.6%, 1);
    --blue-200: hsla(220, 100%, 87.6%, 1);
    --blue-100: hsla(221, 100%, 91.8%, 1);
    --blue-50: hsla(222, 100%, 96.1%, 1);
    --blue-alpha-24: hsla(222, 100%, 70.4%, 24%);
    --blue-alpha-16: hsla(222, 100%, 70.4%, 16%);
    --blue-alpha-10: hsla(222, 100%, 70.4%, 10%);
    --orange-950: hsla(20, 70.5%, 23.9%, 1);
    --orange-900: hsla(20, 70.6%, 32%, 1);
    --orange-800: hsla(20, 69.6%, 40%, 1);
    --orange-700: hsla(20, 69.8%, 48%, 1);
    --orange-600: hsla(20, 80.4%, 56.1%, 1);
    --orange-500: hsla(20, 100%, 63.9%, 1);
    --orange-400: hsla(20, 100%, 70.4%, 1);
    --orange-300: hsla(20, 100%, 79.6%, 1);
    --orange-200: hsla(20, 100%, 87.6%, 1);
    --orange-100: hsla(20, 100%, 91.8%, 1);
    --orange-50: hsla(18, 100%, 96.1%, 1);
    --orange-alpha-24: hsla(20, 100%, 70.4%, 24%);
    --orange-alpha-16: hsla(20, 100%, 70.4%, 16%);
    --orange-alpha-10: hsla(20, 100%, 70.4%, 10%);
    --red-950: hsla(355, 70.5%, 23.9%, 1);
    --red-900: hsla(355, 70.6%, 32%, 1);
    --red-800: hsla(355, 69.6%, 40%, 1);
    --red-700: hsla(355, 69.8%, 48%, 1);
    --red-600: hsla(355, 80.4%, 56.1%, 1);
    --red-500: hsla(355, 96.1%, 60%, 1);
    --red-400: hsla(355, 100%, 70.4%, 1);
    --red-300: hsla(355, 100%, 79.6%, 1);
    --red-200: hsla(355, 100%, 87.6%, 1);
    --red-100: hsla(356, 100%, 91.8%, 1);
    --red-50: hsla(357, 100%, 96.1%, 1);
    --red-alpha-24: hsla(355, 96.1%, 70.4%, 24%);
    --red-alpha-16: hsla(355, 96.1%, 70.4%, 16%);
    --red-alpha-10: hsla(355, 96.1%, 70.4%, 10%);
    --green-950: hsla(148, 72.8%, 15.9%, 1);
    --green-900: hsla(148, 63.9%, 23.9%, 1);
    --green-800: hsla(148, 63.6%, 28%, 1);
    --green-700: hsla(148, 71.8%, 32%, 1);
    --green-600: hsla(148, 71.6%, 40%, 1);
    --green-500: hsla(148, 72.3%, 43.9%, 1);
    --green-400: hsla(148, 72.3%, 56.1%, 1);
    --green-300: hsla(148, 72%, 72%, 1);
    --green-200: hsla(148, 71.8%, 86.1%, 1);
    --green-100: hsla(155, 84.3%, 90%, 1);
    --green-50: hsla(148, 72.2%, 92.9%, 1);
    --green-alpha-24: hsla(148, 72.3%, 43.9%, 24%);
    --green-alpha-16: hsla(148, 72.3%, 43.9%, 16%);
    --green-alpha-10: hsla(148, 72.3%, 43.9%, 10%);
    --yellow-950: hsla(42, 60.7%, 23.9%, 1);
    --yellow-900: hsla(42, 64.4%, 32%, 1);
    --yellow-800: hsla(42, 63.7%, 40%, 1);
    --yellow-700: hsla(42, 64.1%, 48%, 1);
    --yellow-600: hsla(42, 80.4%, 50%, 1);
    --yellow-500: hsla(42, 92.3%, 54.1%, 1);
    --yellow-400: hsla(42, 100%, 70.4%, 1);
    --yellow-300: hsla(42, 100%, 79.6%, 1);
    --yellow-200: hsla(42, 100%, 87.6%, 1);
    --yellow-100: hsla(41, 100%, 90%, 1);
    --yellow-50: hsla(45, 100%, 96.1%, 1);
    --yellow-alpha-24: hsla(42, 92.3%, 54.1%, 24%);
    --yellow-alpha-16: hsla(42, 92.3%, 54.1%, 16%);
    --yellow-alpha-10: hsla(42, 92.3%, 54.1%, 10%);
    --purple-950: hsla(258, 63.6%, 28%, 1);
    --purple-900: hsla(258, 64.4%, 32%, 1);
    --purple-800: hsla(258, 63.7%, 40%, 1);
    --purple-700: hsla(258, 64.1%, 48%, 1);
    --purple-600: hsla(256, 72.3%, 56.1%, 1);
    --purple-500: hsla(256, 88%, 63.9%, 1);
    --purple-400: hsla(252, 88.1%, 70.4%, 1);
    --purple-300: hsla(250, 100%, 79.6%, 1);
    --purple-200: hsla(250, 100%, 87.6%, 1);
    --purple-100: hsla(250, 100%, 91.8%, 1);
    --purple-50: hsla(252, 100%, 96.1%, 1);
    --purple-alpha-24: hsla(256, 88%, 63.9%, 24%);
    --purple-alpha-16: hsla(256, 88%, 63.9%, 16%);
    --purple-alpha-10: hsla(256, 88%, 63.9%, 10%);
    --sky-950: hsla(200, 70.5%, 23.9%, 1);
    --sky-900: hsla(200, 70.6%, 32%, 1);
    --sky-800: hsla(200, 69.6%, 40%, 1);
    --sky-700: hsla(200, 69.8%, 48%, 1);
    --sky-600: hsla(200, 80.4%, 56.1%, 1);
    --sky-500: hsla(200, 100%, 63.9%, 1);
    --sky-400: hsla(200, 100%, 70.4%, 1);
    --sky-300: hsla(200, 100%, 79.6%, 1);
    --sky-200: hsla(200, 100%, 87.6%, 1);
    --sky-100: hsla(200, 100%, 91.8%, 1);
    --sky-50: hsla(201, 100%, 96.1%, 1);
    --sky-aplha-24: hsla(200, 100%, 63.9%, 24%);
    --sky-aplha-16: hsla(200, 100%, 63.9%, 16%);
    --sky-aplha-10: hsla(200, 100%, 63.9%, 10%);
    --pink-950: hsla(330, 70.5%, 23.9%, 1);
    --pink-900: hsla(330, 70.6%, 32%, 1);
    --pink-800: hsla(330, 69.6%, 40%, 1);
    --pink-700: hsla(330, 69.8%, 48%, 1);
    --pink-600: hsla(330, 80.4%, 56.1%, 1);
    --pink-500: hsla(330, 95.7%, 63.9%, 1);
    --pink-400: hsla(330, 100%, 70.4%, 1);
    --pink-300: hsla(330, 100%, 79.6%, 1);
    --pink-200: hsla(330, 100%, 87.6%, 1);
    --pink-100: hsla(330, 100%, 91.8%, 1);
    --pink-50: hsla(333, 100%, 96.1%, 1);
    --pink-alpha-24: hsla(330, 95.7%, 63.9%, 24%);
    --pink-alpha-16: hsla(330, 95.7%, 63.9%, 16%);
    --pink-alpha-10: hsla(330, 95.7%, 63.9%, 10%);
    --teal-950: hsla(172, 72.8%, 15.9%, 1);
    --teal-900: hsla(172, 63.9%, 23.9%, 1);
    --teal-800: hsla(172, 63.6%, 28%, 1);
    --teal-700: hsla(172, 71.8%, 32%, 1);
    --teal-600: hsla(172, 71.6%, 40%, 1);
    --teal-500: hsla(172, 72.2%, 48%, 1);
    --teal-400: hsla(172, 70.7%, 55.9%, 1);
    --teal-300: hsla(172, 72%, 72%, 1);
    --teal-200: hsla(172, 71.8%, 86.1%, 1);
    --teal-100: hsla(172, 84.3%, 90%, 1);
    --teal-50: hsla(172, 74.2%, 93.9%, 1);
    --teal-alpha-24: hsla(172, 72.2%, 48%, 24%);
    --teal-alpha-16: hsla(172, 72.2%, 48%, 16%);
    --teal-alpha-10: hsla(172, 72.2%, 48%, 10%);
    --primary-dark: hsla(228, 69.6%, 40%, 1);
    --primary-darker: hsla(228, 69.8%, 48%, 1);
    --primary-base: hsla(228, 100%, 60%, 1);
    --background-strong: hsla(222, 31.7%, 8%, 1);
    --background-surface: hsla(227, 17.1%, 16.1%, 1);
    --background--sub: hsla(219, 15.2%, 82%, 1);
    --background-soft: hsla(220, 17.6%, 90%, 1);
    --background-weak: hsla(216, 33.3%, 97.1%, 1);
    --background-white: hsla(0, 0%, 100%, 1);
    --text-strong: hsla(222, 31.7%, 8%, 1);
    --text-sub: hsla(222, 10.9%, 36.1%, 1);
    --text-soft: hsla(220, 11.5%, 64.1%, 1);
    --text-disabled: hsla(219, 15.2%, 82%, 1);
    --text-white: hsla(0, 0%, 100%, 1);
    --stroke-strong: hsla(222, 31.7%, 8%, 1);
    --stroke-sub: hsla(219, 15.2%, 82%, 1);
    --stroke-soft: hsla(220, 17.6%, 90%, 1);
    --stroke-white: hsla(0, 0%, 100%, 1);
    --icon-strong: hsla(222, 31.7%, 8%, 1);
    --icon-sub: hsla(222, 10.9%, 36.1%, 1);
    --icon-soft: hsla(220, 11.5%, 64.1%, 1);
    --icon-disabled: hsla(219, 15.2%, 82%, 1);
    --icon-white: hsla(0, 0%, 100%, 1);
    --faded-dark: hsla(227, 17.1%, 16.1%, 1);
    --faded-base: hsla(221, 7.8%, 48%, 1);
    --faded-light: hsla(220, 17.6%, 90%, 1);
    --faded-lighter: hsla(210, 30%, 96.1%, 1);
    --information-dark: hsla(228, 70.5%, 23.9%, 1);
    --information-base: hsla(228, 100%, 60%, 1);
    --information-light: hsla(220, 100%, 87.6%, 1);
    --information-lighter: hsla(222, 100%, 96.1%, 1);
    --warning-dark: hsla(20, 70.5%, 23.9%, 1);
    --warning-base: hsla(20, 100%, 63.9%, 1);
    --warning-light: hsla(20, 100%, 87.6%, 1);
    --warning-lighter: hsla(18, 100%, 96.1%, 1);
    --error-dark: hsla(355, 70.5%, 23.9%, 1);
    --error-base: hsla(355, 96.1%, 60%, 1);
    --error-light: hsla(355, 100%, 87.6%, 1);
    --error-lighter: hsla(357, 100%, 96.1%, 1);
    --success-dark: hsla(148, 72.8%, 15.9%, 1);
    --success-base: hsla(148, 72.3%, 43.9%, 1);
    --success-light: hsla(148, 71.8%, 86.1%, 1);
    --success-lighter: hsla(148, 72.2%, 92.9%, 1);
    --away-dark: hsla(42, 60.7%, 23.9%, 1);
    --away-base: hsla(42, 92.3%, 54.1%, 1);
    --away-light: hsla(42, 100%, 87.6%, 1);
    --away-lighter: hsla(45, 100%, 96.1%, 1);
    --feature-dark: hsla(258, 63.6%, 28%, 1);
    --feature-base: hsla(256, 88%, 63.9%, 1);
    --feature-light: hsla(250, 100%, 87.6%, 1);
    --feature-lighter: hsla(252, 100%, 96.1%, 1);
    --verified-dark: hsla(200, 70.5%, 23.9%, 1);
    --verified-base: hsla(200, 100%, 63.9%, 1);
    --verified-light: hsla(200, 100%, 87.6%, 1);
    --verified-lighter: hsla(201, 100%, 96.1%, 1);
    --highlighted-dark: hsla(330, 70.5%, 23.9%, 1);
    --highlighted-base: hsla(330, 95.7%, 63.9%, 1);
    --highlighted-light: hsla(330, 100%, 87.6%, 1);
    --highlighted-lighter: hsla(333, 100%, 96.1%, 1);
    --stable-dark: hsla(172, 72.8%, 15.9%, 1);
    --table-base: hsla(172, 72.2%, 48%, 1);
    --stable-light: hsla(172, 71.8%, 86.1%, 1);
    --stable-lighter: hsla(172, 74.2%, 93.9%, 1);
  }
  .dark {
    --border: hsla(220, 15%, 20%, 1);
    --neutral-950: hsla(222, 31.7%, 8%, 1);
    --neutral-900: hsla(226, 21.3%, 12%, 1);
    --neutral-800: hsla(227, 17.1%, 16.1%, 1);
    --neutral-700: hsla(221, 15.7%, 20%, 1);
    --neutral-600: hsla(222, 10.9%, 36.1%, 1);
    --neutral-500: hsla(221, 7.8%, 48%, 1);
    --neutral-400: hsla(220, 11.5%, 64.1%, 1);
    --neutral-300: hsla(219, 15.2%, 82%, 1);
    --neutral-200: hsla(220, 17.6%, 90%, 1);
    --neutral-100: hsla(210, 30%, 96.1%, 1);
    --neutral-50: hsla(216, 33.3%, 97.1%, 1);
    --neutral-0: hsla(0, 0%, 100%, 1);
    --neutral-aplha-24: hsla(220, 11%, 64% ,24%);
    --neutral-aplha-16: hsla(220, 11%, 64% ,16%);
    --neutral-aplha-10: hsla(220, 11%, 64% ,10%);
    --blue-950: hsla(228, 70.5%, 23.9%, 1);
    --blue-900: hsla(228, 70.6%, 32%, 1);
    --blue-800: hsla(228, 69.6%, 40%, 1);
    --blue-700: hsla(228, 69.8%, 48%, 1);
    --blue-600: hsla(228, 80.4%, 56.1%, 1);
    --blue-500: hsla(228, 100%, 60%, 1);
    --blue-400: hsla(222, 100%, 70.4%, 1);
    --blue-300: hsla(220, 100%, 79.6%, 1);
    --blue-200: hsla(220, 100%, 87.6%, 1);
    --blue-100: hsla(221, 100%, 91.8%, 1);
    --blue-50: hsla(222, 100%, 96.1%, 1);
    --blue-alpha-24: hsla(222, 100%, 70.4%, 24%);
    --blue-alpha-16: hsla(222, 100%, 70.4%, 16%);
    --blue-alpha-10: hsla(222, 100%, 70.4%, 10%);
    --orange-950: hsla(20, 70.5%, 23.9%, 1);
    --orange-900: hsla(20, 70.6%, 32%, 1);
    --orange-800: hsla(20, 69.6%, 40%, 1);
    --orange-700: hsla(20, 69.8%, 48%, 1);
    --orange-600: hsla(20, 80.4%, 56.1%, 1);
    --orange-500: hsla(20, 100%, 63.9%, 1);
    --orange-400: hsla(20, 100%, 70.4%, 1);
    --orange-300: hsla(20, 100%, 79.6%, 1);
    --orange-200: hsla(20, 100%, 87.6%, 1);
    --orange-100: hsla(20, 100%, 91.8%, 1);
    --orange-50: hsla(18, 100%, 96.1%, 1);
    --orange-alpha-24: hsla(20, 100%, 70.4%, 24%);
    --orange-alpha-16: hsla(20, 100%, 70.4%, 16%);
    --orange-alpha-10: hsla(20, 100%, 70.4%, 10%);
    --red-950: hsla(355, 70.5%, 23.9%, 1);
    --red-900: hsla(355, 70.6%, 32%, 1);
    --red-800: hsla(355, 69.6%, 40%, 1);
    --red-700: hsla(355, 69.8%, 48%, 1);
    --red-600: hsla(355, 80.4%, 56.1%, 1);
    --red-500: hsla(355, 96.1%, 60%, 1);
    --red-400: hsla(355, 100%, 70.4%, 1);
    --red-300: hsla(355, 100%, 79.6%, 1);
    --red-200: hsla(355, 100%, 87.6%, 1);
    --red-100: hsla(356, 100%, 91.8%, 1);
    --red-50: hsla(357, 100%, 96.1%, 1);
    --red-alpha-24: hsla(355, 96.1%, 70.4%, 24%);
    --red-alpha-16: hsla(355, 96.1%, 70.4%, 16%);
    --red-alpha-10: hsla(355, 96.1%, 70.4%, 10%);
    --green-950: hsla(148, 72.8%, 15.9%, 1);
    --green-900: hsla(148, 63.9%, 23.9%, 1);
    --green-800: hsla(148, 63.6%, 28%, 1);
    --green-700: hsla(148, 71.8%, 32%, 1);
    --green-600: hsla(148, 71.6%, 40%, 1);
    --green-500: hsla(148, 72.3%, 43.9%, 1);
    --green-400: hsla(148, 72.3%, 56.1%, 1);
    --green-300: hsla(148, 72%, 72%, 1);
    --green-200: hsla(148, 71.8%, 86.1%, 1);
    --green-100: hsla(155, 84.3%, 90%, 1);
    --green-50: hsla(148, 72.2%, 92.9%, 1);
    --green-alpha-24: hsla(148, 72.3%, 43.9%, 24%);
    --green-alpha-16: hsla(148, 72.3%, 43.9%, 16%);
    --green-alpha-10: hsla(148, 72.3%, 43.9%, 10%);
    --yellow-950: hsla(42, 60.7%, 23.9%, 1);
    --yellow-900: hsla(42, 64.4%, 32%, 1);
    --yellow-800: hsla(42, 63.7%, 40%, 1);
    --yellow-700: hsla(42, 64.1%, 48%, 1);
    --yellow-600: hsla(42, 80.4%, 50%, 1);
    --yellow-500: hsla(42, 92.3%, 54.1%, 1);
    --yellow-400: hsla(42, 100%, 70.4%, 1);
    --yellow-300: hsla(42, 100%, 79.6%, 1);
    --yellow-200: hsla(42, 100%, 87.6%, 1);
    --yellow-100: hsla(41, 100%, 90%, 1);
    --yellow-50: hsla(45, 100%, 96.1%, 1);
    --yellow-alpha-24: hsla(42, 92.3%, 54.1%, 24%);
    --yellow-alpha-16: hsla(42, 92.3%, 54.1%, 16%);
    --yellow-alpha-10: hsla(42, 92.3%, 54.1%, 10%);
    --purple-950: hsla(258, 63.6%, 28%, 1);
    --purple-900: hsla(258, 64.4%, 32%, 1);
    --purple-800: hsla(258, 63.7%, 40%, 1);
    --purple-700: hsla(258, 64.1%, 48%, 1);
    --purple-600: hsla(256, 72.3%, 56.1%, 1);
    --purple-500: hsla(256, 88%, 63.9%, 1);
    --purple-400: hsla(252, 88.1%, 70.4%, 1);
    --purple-300: hsla(250, 100%, 79.6%, 1);
    --purple-200: hsla(250, 100%, 87.6%, 1);
    --purple-100: hsla(250, 100%, 91.8%, 1);
    --purple-50: hsla(252, 100%, 96.1%, 1);
    --purple-alpha-24: hsla(256, 88%, 63.9%, 24%);
    --purple-alpha-16: hsla(256, 88%, 63.9%, 16%);
    --purple-alpha-10: hsla(256, 88%, 63.9%, 10%);
    --sky-950: hsla(200, 70.5%, 23.9%, 1);
    --sky-900: hsla(200, 70.6%, 32%, 1);
    --sky-800: hsla(200, 69.6%, 40%, 1);
    --sky-700: hsla(200, 69.8%, 48%, 1);
    --sky-600: hsla(200, 80.4%, 56.1%, 1);
    --sky-500: hsla(200, 100%, 63.9%, 1);
    --sky-400: hsla(200, 100%, 70.4%, 1);
    --sky-300: hsla(200, 100%, 79.6%, 1);
    --sky-200: hsla(200, 100%, 87.6%, 1);
    --sky-100: hsla(200, 100%, 91.8%, 1);
    --sky-50: hsla(201, 100%, 96.1%, 1);
    --sky-aplha-24: hsla(200, 100%, 63.9%, 24%);
    --sky-aplha-16: hsla(200, 100%, 63.9%, 16%);
    --sky-aplha-10: hsla(200, 100%, 63.9%, 10%);
    --pink-950: hsla(330, 70.5%, 23.9%, 1);
    --pink-900: hsla(330, 70.6%, 32%, 1);
    --pink-800: hsla(330, 69.6%, 40%, 1);
    --pink-700: hsla(330, 69.8%, 48%, 1);
    --pink-600: hsla(330, 80.4%, 56.1%, 1);
    --pink-500: hsla(330, 95.7%, 63.9%, 1);
    --pink-400: hsla(330, 100%, 70.4%, 1);
    --pink-300: hsla(330, 100%, 79.6%, 1);
    --pink-200: hsla(330, 100%, 87.6%, 1);
    --pink-100: hsla(330, 100%, 91.8%, 1);
    --pink-50: hsla(333, 100%, 96.1%, 1);
    --pink-alpha-24: hsla(330, 95.7%, 63.9%, 24%);
    --pink-alpha-16: hsla(330, 95.7%, 63.9%, 16%);
    --pink-alpha-10: hsla(330, 95.7%, 63.9%, 10%);
    --teal-950: hsla(172, 72.8%, 15.9%, 1);
    --teal-900: hsla(172, 63.9%, 23.9%, 1);
    --teal-800: hsla(172, 63.6%, 28%, 1);
    --teal-700: hsla(172, 71.8%, 32%, 1);
    --teal-600: hsla(172, 71.6%, 40%, 1);
    --teal-500: hsla(172, 72.2%, 48%, 1);
    --teal-400: hsla(172, 70.7%, 55.9%, 1);
    --teal-300: hsla(172, 72%, 72%, 1);
    --teal-200: hsla(172, 71.8%, 86.1%, 1);
    --teal-100: hsla(172, 84.3%, 90%, 1);
    --teal-50: hsla(172, 74.2%, 93.9%, 1);
    --teal-alpha-24: hsla(172, 72.2%, 48%, 24%);
    --teal-alpha-16: hsla(172, 72.2%, 48%, 16%);
    --teal-alpha-10: hsla(172, 72.2%, 48%, 10%);
    --primary-dark: hsla(228, 69.6%, 40%, 1);
    --primary-darker: hsla(228, 69.8%, 48%, 1);
    --primary-base: hsla(228, 100%, 60%, 1);
    --background-strong: hsla(0, 0%, 100%, 1);
    --background-surface: hsla(220, 17.6%, 90%, 1);
    --background--sub: hsla(222, 10.9%, 36.1%, 1);
    --background-soft: hsla(221, 15.7%, 20%, 1);
    --background-weak: hsla(226, 21.3%, 12%, 1);
    --background-white: hsla(222, 31.7%, 8%, 1);
    --text-strong: hsla(0, 0%, 100%, 1);
    --text-sub: hsla(220, 11.5%, 64.1%, 1);
    --text-soft: hsla(221, 7.8%, 48%, 1);
    --text-disabled: hsla(222, 10.9%, 36.1%, 1);
    --text-white: hsla(222, 31.7%, 8%, 1);
    --stroke-strong: hsla(0, 0%, 100%, 1);
    --stroke-sub: hsla(222, 10.9%, 36.1%, 1);
    --stroke-soft: hsla(221, 15.7%, 20%, 1);
    --stroke-white: hsla(222, 10.9%, 36.1%, 1);
    --icon-strong: hsla(0, 0%, 100%, 1);
    --icon-sub: hsla(220, 11.5%, 64.1%, 1);
    --icon-soft: hsla(221, 7.8%, 48%, 1);
    --icon-disabled: hsla(222, 10.9%, 36.1%, 1);
    --icon-white: hsla(222, 10.9%, 36.1%, 1);
    --faded-dark: hsla(219, 15.2%, 82%, 1);
    --faded-base: hsla(221, 7.8%, 48%, 1);
    --faded-light: hsla(220, 11%, 64% ,24%);
    --faded-lighter: hsla(220, 11%, 64% ,16%);
    --information-dark: hsla(222, 100%, 70.4%, 1);
    --information-base: hsla(228, 100%, 60%, 1);
    --information-light: hsla(222, 100%, 70.4%, 24%);
    --information-lighter: hsla(222, 100%, 70.4%, 16%);
    --warning-dark: hsla(20, 100%, 70.4%, 1);
    --warning-base: hsla(20, 80.4%, 56.1%, 1);
    --warning-light: hsla(20, 100%, 70.4%, 24%);
    --warning-lighter: hsla(20, 100%, 70.4%, 16%);
    --error-dark: hsla(355, 100%, 70.4%, 1);
    --error-base: hsla(355, 80.4%, 56.1%, 1);
    --error-light: hsla(355, 96.1%, 70.4%, 24%);
    --error-lighter: hsla(355, 96.1%, 70.4%, 16%);
    --success-dark: hsla(148, 72.3%, 56.1%, 1);
    --success-base: hsla(148, 71.6%, 40%, 1);
    --success-light: hsla(148, 72.3%, 43.9%, 24%);
    --success-lighter: hsla(148, 72.3%, 43.9%, 16%);
    --away-dark: hsla(42, 100%, 70.4%, 1);
    --away-base: hsla(42, 80.4%, 50%, 1);
    --away-light: hsla(42, 92.3%, 54.1%, 24%);
    --away-lighter: hsla(42, 92.3%, 54.1%, 16%);
    --feature-dark: hsla(252, 88.1%, 70.4%, 1);
    --feature-base: hsla(256, 88%, 63.9%, 1);
    --feature-light: hsla(256, 88%, 63.9%, 24%);
    --feature-lighter: hsla(256, 88%, 63.9%, 16%);
    --verified-dark: hsla(200, 100%, 70.4%, 1);
    --verified-base: hsla(200, 80.4%, 56.1%, 1);
    --verified-light: hsla(200, 100%, 63.9%, 24%);
    --verified-lighter: hsla(200, 100%, 63.9%, 16%);
    --highlighted-dark: hsla(330, 100%, 70.4%, 1);
    --highlighted-base: hsla(330, 80.4%, 56.1%, 1);
    --highlighted-light: hsla(330, 95.7%, 63.9%, 24%);
    --highlighted-lighter: hsla(330, 95.7%, 63.9%, 16%);
    --stable-dark: hsla(172, 70.7%, 55.9%, 1);
    --table-base: hsla(172, 71.6%, 40%, 1);
    --stable-light: hsla(172, 72.2%, 48%, 24%);
    --stable-lighter: hsla(172, 72.2%, 48%, 16%);
  }
}